html {
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

:root {
  /*Colores*/
  --naranja: #bb713C;
  --naranjaclaro: #ffb11e;
  --verdeclaro: #c6dfc5;
  --verdeoscuro: #353519;
  --inputField: rgba(255, 255, 0, 0.3);
  --azulGoogle: #4285f4;
  --azulGoogleActivo: #1669F2;

  /*FUENTES*/
  --titulos: 'Tenor Sans', sans-serif;
  --principal: 'Ubuntu', 'Ubuntu Mono', sans-serif;
  --googleButton: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  width: 50vh;
  font-family: var(--principal);
  box-shadow: 0 0 10px var(--verdeclaro);
}

.logoImg {
  width: 40%;
}

.inputLog {
  font-family: var(--principal);
  background-color: var(--inputField);
  color: var(--naranja);
  border: none;
  padding: 1%;
  border-radius: 10px;
  min-width: 252px;
  min-height: 45px;
  margin: 10px;
  text-align: center;
}

.inputLog::placeholder {
  color: var(--naranja);
}

hr{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.145);
}

a, button, .iconImg {
  cursor: pointer;
  margin: 20px 0;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.btnGoogle {
  background-color: var(--azulGoogle);
  padding: 0rem;
  color: white;
  border: none;
  border-radius: 2px;
  font-family: var(--principal);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  width: 252px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
}	

.btnGoogle:hover {
  box-shadow: 0 0 6px var(--azulGoogle);
}

.btnGoogle:active {
  background-color: var(--azulGoogleActivo);
}

.btnGoogle p {
  font-family: var(--googleButton);
  font-size: 14px;
  padding: 0;
  margin-left: 18px;
  margin-right: 18px;
}

#iconGoogle {
  width: 2rem;
  height: auto;
  background-color: white;
  border-radius: 2px;
  flex-direction: initial;
}

section {
  flex-grow: 0;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
  
.logoImgPlus {
  width: 280px;
  height: 251px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}
  
.slogan {
  width: 253px;
  /* height: 70px; */
  /* margin: 20px 20px; */
  font-family: var(--principal);
  font-size: 20px;
  text-align: center;
  color: #353519;
}
  
.buttons {
  min-width: 252px;
  display: flex;
  justify-content: center;
  padding: 14px;
  border-radius: 10px;
  background-color: #ffb11e;
  border-style: none;
  font-size: 16px;
  font-family: var(--principal);
  color: #fff;
}

.buttons:hover {
  background-color:#fffbba;
  color:#bb713C;
}
  
h2 {
  height: 30px;
  margin: 60px 20px 0px 20px;
  font-size: 18px;
  color: #353519;
}

h3{
  font-size: 14px;
  text-align: center;
}
  
figure {
  width: 40px;
  height: 40px;
  flex-grow: 0;
  margin: 11px 32px 0;
  object-fit: contain;
}
  
.chevronIcon {
  width: 40px;
  height: 40px;
  margin: 0px 120px 0 120px;
  position: flex;
  flex-grow: 0;
}
  
.new,
.forget {
  position: absolute;
  top: 694px;
  left: 95px;
  text-align: left;
}

.new {
  top: 531px;
}

.loginChild,
.loginItem {
  position: absolute;
  top: 365px;
  left: 69px;
  border-radius: var(--br-3xs);
  width: 252px;
  height: 45px;
}

.loginItem {
  top: 436px;
}
  
.loginInner {
  position: absolute;
  top: 307.5px;
  left: -0.5px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 391px;
  height: 1px;
}

.entrar {
  position: absolute;
  top: calc(50% - 14.5px);
  left: 61px;
  display: inline-block;
  width: 129px;
  height: 38px;
}

.email {
  position: absolute;
  top: 372px;
  left: 110px;
  font-weight: 300;
  color: var(--color-peru);
  display: inline-block;
  width: 173px;
}

.pass {
  position: absolute;
  top: 450px;
  left: 80px;
  font-weight: 300;
  color: var(--color-peru);
  display: inline-block;
  width: 173px;
}

.googleloginIcon {
  position: absolute;
  top: 206px;
  left: 69px;
  width: 252px;
  height: 60.52px;
  object-fit: cover;
}

.home-03-icon {
  position: absolute;
  top: 750px;
  left: 175px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.logoIcon {
  position: absolute;
  top: 83px;
  left: 145px;
  width: 100px;
  height: 116px;
  object-fit: cover;
}

.login {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  color: var(--color-darkslategray);
  font-family: var(--font-ubuntu);
}
  
.inputEmail {
  position: absolute;
  top: 305px;
  left: 5px;
  width: 252px;
  height: 45px;
  margin: 57px 69px 26px;
  padding: 10px 210px 11px 18px;
  border-radius: 10px;
  background-color: rgba(255, 255, 0, 0.3);
}
  
.inputPass {
  position: absolute;
  top: 419px;
  left: 5px;
  width: 252px;
  height: 45px;
  margin: 18px 69px 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 0, 0.3);
}
  
.return {
  top: 120em;
  left: 160px;
  width: 344px;
  height: 40px;
  flex-grow: 0;
  margin: 75px 120px 4px 131px;
  font-family: var(--principal);
  color: #353519;
}
  
.logoIconImg {
  position: flex;
  top: 83px;
  left: 145px;
  width: 100px;
  height: 116px;
  object-fit: cover;
}
  
.re {
  margin: 20px 4.8px 0px 0;
  font-family: var(--principal);
  text-align: center;
}
  
.re-container {
  position: flex;
  top: 265px;
  left: 102px;
  white-space: pre-wrap;
  justify-content: center;  
}
  
.mision {
  width: 344px;
  height: 24px;
  margin: 40px 4.8px 20px 0;
  font-family: var(--principal);
  text-align: center;
  color: #c992d2;
}
  
.what {
  width: 294px;
  height: 0px;
  margin: 31px 29.8px 108px 25px;
  font-family: var(--principal);
  font-weight: 300;
  text-align: justify;
  color: #353519;
}
  
.planetImg {
  width: 336.8px;
  height: 279px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  align-items: flex-end;
}

#mensaje {
  font-family: var(--principal);
  color: var(--naranjaclaro);
}

/*Feed*/

.header {
  width: 100%;
  height: 100px;
  background-color: var(--naranjaclaro);
}

.logoImgFeed {
  width: 100px;
  margin: 10px 10px 10px 30px;
}

.textAreaSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
}

.inputPost {
  margin: 15px;
  border: 1px solid var(--naranja);
  border-radius: 5px;
  min-width: 250px;
  min-height: 100px;
  resize: none;
  font-family: var(--principal);
  padding: 10px; /* Agrega un espacio interno para el texto */
  font-size: 14px; /*Tamaño de fuente */
}

/* Estilo para el contador de caracteres */
.charCount {
  font-size: 8px;
  }

.postsSection {
  margin: auto;
  overflow-y: scroll; /* Agregamos scroll vertical cuando el contenido exceda la altura de la secciÃ³n */
  max-height: calc(100vh - 200px); /* Establecemos una altura mÃ¡xima para los posts, dejando espacio para el header y el footer */
  width: 100%;
  height: 100%;
  font-size: 10px;
}

.individualPost {
text-align: justify;
padding: 20px; /* Agregamos espacio de 20px alrededor de cada publicación */
margin: 10px 0; /* Agregamos espacio de 10px arriba y abajo para separar las publicaciones */
background-color: hsl(270, 6%, 97%);
/*border: 1px solid var(--naranja); */
}

.footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: var(--verdeclaro);
}

/* FOOTER - NAVIGATION BAR */
.buttonsContainer {
  background-color: var(--verdeclaro);
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 16px;
}

.navigationButtons {
  background: transparent;
  border: transparent;
  cursor: pointer;
}
