html {
  height: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
:root {
  /*Colores*/
  --naranja: #BB713C;
  --naranjaclaro: #FFB11E;
  --verdeclaro: #C6DFC5;
  --verdeoscuro: #353519;
  --inputField: rgba(255, 255, 0, 0.3);
  --azulGoogle: #4285F4;
  --azulGoogleActivo: #1669F2;
  /*FUENTES*/
  --titulos: 'Ubuntu', 'Ubuntu Mono', sans-serif;
  --principal: 'Ubuntu', 'Ubuntu Mono', sans-serif;
  --googleButton: 'Roboto', sans-serif;
}
p {
  font-size: 12px;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/background11.jpg");
  background-position: 30%;
  opacity: 0.4; /* Ajusta la opacidad según tus necesidades */
  z-index: -1; /* Asegura que el fondo esté detrás de otros contenidos */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: var(--principal);
  box-sizing: border-box;
  justify-content: space-between;
}
.contentSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  box-sizing: border-box;
}
.elementsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  box-sizing: border-box;
  text-align: center;
}
.logoImg {
  text-align: center;
  height: 30vh;
}
.inputLog {
  font-family: var(--principal);
  background-color: var(--inputField);
  color: var(--naranja);
  border: none;
  padding: 1%;
  border-radius: 10px;
  min-width: 252px;
  min-height: 45px;
  margin: 10px;
  text-align: center;
}
.inputLog::placeholder {
  color: var(--naranja);
}
hr{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.145);
}
a, button, .iconImg {
  cursor: pointer;
  margin: 20px 0;
  font-size: 14px;
}
form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}
textarea p {
  font-size: 20px;
}
.btnGoogle {
  background-color: var(--azulGoogle);
  padding: 0rem;
  color: white;
  border: none;
  border-radius: 2px;
  font-family: var(--principal);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  width: 252px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}
.btnGoogle:hover {
  box-shadow: 0 0 6px var(--azulGoogle);
}
.btnGoogle:active {
  background-color: var(--azulGoogleActivo);
}
.btnGoogle p {
  font-family: var(--googleButton);
  font-size: 14px;
  padding: 0;
  margin-left: 18px;
  margin-right: 18px;
}
#iconGoogle {
  width: 2.6rem;
  height: auto;
  background-color: white;
  border-radius: 2px;
  flex-direction: initial;
}
.slogan {
  width: 253px;
  font-family: var(--principal);
  font-size: 18px;
  color: #353519;
  margin: 70px 0px 0px 0px;
}
.buttons {
  min-width: 252px;
  display: flex;
  justify-content: center;
  padding: 14px;
  border-radius: 10px;
  background-color: #FFB11E;
  border-style: none;
  font-size: 16px;
  font-family: var(--principal);
  color: #fff;
}
.buttons:hover {
  background-color:#fffbba;
  color:#bb713C;
}
h3{
  font-size: 12px bold;
  text-align: center;
  color: #77587C;
  width: 100%;
}
.chevronIcon {
  width: 40px;
  height: 40px;
  margin: 40px 0px 10px 0px;
}
.googleloginIcon {
  position: absolute;
  top: 206px;
  left: 69px;
  width: 252px;
  height: 60.52px;
  object-fit: cover;
}
.logoIcon {
  position: absolute;
  top: 83px;
  left: 145px;
  width: 100px;
  height: 116px;
  object-fit: cover;
}
.login {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  color: var(--color-darkslategray);
  font-family: var(--font-ubuntu);
}
.logoIconImg {
  width: 116px;
  height: 116px;
  margin: 0px 0px 20px 0px;
  flex-wrap: wrap;
}
.mision {
  margin: 20px 0px 20px 0px;
  color: #C992D2;
  font-size: 18px;
}
.what {
  width: 60vw;
  text-align: center;
  color: #353519;
}
.planetImg {
  width: 336.8px;
  height: 279px;
  padding: 0px;
  border: 0px;
  margin-top: 20px;
  align-items: flex-end;
}
#mensaje {
  color: var(--naranjaclaro);
}
/*--------Feed--------*/
.header {
  width: 100%;
  height: 10vh;
  background-color: #ffb01d9e;
  display: flex;
  align-items: center;
}
.logoImgFeed {
  height: 90%;
  padding-left: 20px;
}
.textAreaSection {
  height: 17vh;
  margin: 0vh 0vh 5vh 0vh;
  align-items: center;
  justify-content: center;
}
.inputTitle, .inputPost {
  border: 1px solid #FFFBBA;
  border-radius: 10px;
  width: 70vw;
  height: 20px;
  font-family: var(--principal);
  padding: 10px;
  font-size: 12px;
  text-align: justify;
  background-color: #FFFBBA;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
}
.inputPost {
  margin: 10px;
  width: 70vw;
  min-height: 60px;
  resize: none;
}
span {
  font-size: 12px;
  color: var(--verdeoscuro);
}
#postsSection {
  margin-top: 2vh;
  overflow-y: scroll;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.postContainer {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  margin: 15px 0px 10px 0px;
  border-radius: 10px;
  background-color: #e9dfed;
  box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 75vw;
}
.btnPost{
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  color: #FFB11D;
  border: 2px solid #FFB11D;
  font-size: 14px;
  border-style: none;
  font-family: var(--principal);
  width: 70px;
  display: inline-block;
  box-shadow: inset 0 0 0 0 #FFB11D;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.btnPost:hover {
  background-color: var(--naranjaclaro);
  color:#fff;
  transition: 0.3s ease-in-out;
  box-shadow: inset 400px 0 0 0 #FFB11D;
}
.footer {
  height: 8vh;
  background-color: var(--verdeclaro);
  justify-content: space-around;
  width: 100%;
  font-size: 16px;
  margin-bottom: 0px;
  bottom: 0;
  display: flex;
}
/* FOOTER - NAVIGATION BAR */
.buttonsContainer {
  background-color: var(--verdeclaro);
  display: flex;
  justify-content: space-around;
  height: 90%;
  width: 100%;
  font-size: 16px;
  margin-bottom: 0px;
  bottom: 0;
}
.navigationButtons {
  background: transparent;
  border: transparent;
  cursor: pointer;
}

/* PROFILE */
#profileSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#imgProfile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}
.iconSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.likesSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--naranjaclaro);
}
.deleteIcon {
  width: 25px;
  cursor: pointer;
}
.editIcon {
  width: 27px;
  cursor: pointer;
}
.likesNumber {
  text-align: right;
  margin-right: 10px;
}
.likesIcon {
  width: 40px;
}
.deleteIcon:hover , .editIcon:hover, .likesIcon:hover {
  cursor: pointer;
  transform: scale(1.3) translateY(-1px);
  transition: all 1s;
}
.deleteIcon:active  , .editIcon:active, .likesIcon:active {
  cursor: pointer;
  transform: scale(5) translateY(-1px);
  transition: all 1.3s;
}

/*PopUp*/
.popUpSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  max-width: 400px;
  max-height: 40vh;
  flex-direction: column;
  font-family: var(--principal);
}
.popup-container {
  position: fixed;
  background-color: #FFF;
  border: 2px solid #000000;
  padding: 20px;
  box-shadow:  2px 2px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
textarea {
  width: 100%;
  height: 150px;
  font-family: var(--principal);
  background-color: #fffcba82;
  border-radius: 10px;
  border-color: #FFF;
  padding: 10px;
}
.textareaTitle{
  width: 100%;
  height: 30px;
}
.buttonEdit {
  background-color:#fff;
  margin: 15px 0px 0px 0px;
  padding: 5px;
  border-radius: 10px;
  color: #FFB11D;
  border: 2px solid #FFB11D;
  font-size: 14px;
  border-style: none;
  font-family: var(--principal);
  width: 70px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
  
/* MEDIA QUERIES */
@media (min-width: 1200px) {
  .contentSection {
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
  }
  .logoImg {
    height: 40vh;
  }
}
@media (max-width: 765px) {
  .deleteIcon {
    cursor: pointer;
    margin: 0 2%;
  }
  .editIcon {
    cursor: pointer;
    margin: 0 2%;
  }
  .logoImg {
    text-align: center;
    height: 30vh;
  }
}
@media (min-width: 766px) and (max-width: 1199px) {
  .deleteIcon {
    cursor: pointer;
    margin: 0 2%;
  }
  .editIcon {
    cursor: pointer;
    margin: 0 2%;
  }
  .likesIcon {
    cursor: pointer;
  }
  .logoImg {
    text-align: center;
    height: 30vh;
  }
  .inputTitle, .inputPost, .postContainer {
    max-width: 60vw;
  }
}